html {
    background: $color-1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    background: url(img/anais.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}