button, .equals, .hearts {
    background: white;
    border-color: $color-2;
    border-radius: 50%;
    font-size: 2.3em;
    color: #f32b8a;
    font-weight: 600;
    font-family: $font-1;

    &:hover {
        background: $color-4;
        color: white;
        cursor: pointer;
    }
}

.operator {
    background: $color-2;
    color: white;

    &:hover {
        background: $color-4;
        color: white;
    }
}

.backspace, .clear {
    background: $color-3;
    color: #444;

    &:hover {
        background: $color-4;
        color: white;
    }
}

.equals {
    border-radius: 35px;
}

.input-buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    gap: 10px;
}

.col2 {
    grid-column: span 2;
}

.row2 {
    grid-row: span 2;
}