.calculator-container {

    .display {
        min-height: 126px;
        padding: 15px 15px 10px 0;
        margin-bottom: 1em;
        background: $color-primary;
        color: rgb(58, 58, 58);
        font-family: $font-primary;
        border: 2px solid $color-primary--dark;
        box-shadow: 3px 3px 55px #e5e5e5;

            .display--top,
            .display--bottom {
                box-sizing: border-box;
                word-wrap: break-word;
                word-break: break-all;
                text-align: right;
            }

            .display--top {
                display: flex;
                justify-content: flex-end;
                min-height: 45px;
            }

            .numOnTop,
            .mathSign {
                margin: 0;
                padding-left: 5px;
                font-size: 1.8em;
            }

            .numOnBottom {
                font-size: 2.4em;
            }
    }
}