// Colors
$color-1: #f4eae9;
$color-2: #ff9edd;
$color-3: #ffc930;
$color-4: #61ccfe;
$color-dark: #ddb5a7;

// Fonts
$font-size: 1.6rem;
$line-height: 1.5;
$font-1:'Inter', monospace;
$font-2:'Quantico', monospace;
$font-3:'VT323', monospace;

